body{
    background-color:rgb(24,24,24, .9) ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    color: aliceblue;
    font-family: "cinzel";
    font-size: 9vh;
}


@font-face{
    font-family: "cinzel";
    src: url(../fonts/Cinzel-VariableFont_wght.ttf);
}