body{
    background-color: rgb(29, 28, 28, .9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    font-family: "cinzel";
    color: beige;
    font-size: 7em ;
}

@font-face{
    font-family: "cinzel";
    src: url(../fonts/Cinzel-VariableFont_wght.ttf);
}