* {
    margin: 0;
    padding: 0;
}
.box-img {
    display: inline-block;
    width: 300px;
    margin: 30px;
    vertical-align: top;
    border: 2px solid black;
    border-radius: 8px;
}
.img-style {
    width: 100%;
}
h1,h2,h3 {
    text-align: center;
}
p {
    text-align: justify;
}
.tittle {
    background-color: aliceblue;
    border: 2px solid aliceblue;
    width: 90%;
    margin-left: 5%;
}
.content {
    background-color: aliceblue;
    border: 2px solid black;
} 