.fa-solid{
    color: rgb(135, 150, 161);
    font-size: 1.2em;
    padding-right: 5px;
}
.fa-brands{
    color: rgb(135, 150, 161);
    font-size: 1.2em;
    padding-right: 5px;
}
li{
    font-size: 20px;
}
nav{
    background-color: gainsboro;
    position: fixed;
    top: 0;
    left: 0;
    width: 2500px;
    height: 100vh;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
i:hover{
    color: black    ;
}