* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div{
    text-align: center;
    justify-content: center;
    align-items: center;
}
nav {
    font-size: 0.89em;
    justify-content: center;
    color: rgb(17, 255, 0);
    display: block;
    align-items: center;
    text-align: center;
}

nav ul {
    list-style: none; 
    padding: 0;
    display: table;
    position: absolute;
    width: 100%;
    background-color: black;
}

nav .ul2{
    background-color: black;
    width: 360px;
    text-align: left;
    padding: 0;
    line-height: 40px;
}

nav a {
    text-decoration: rgb(194, 100, 100);
    color:  rgb(17, 255, 0);
    display: block;
    padding: 0 1em;
}

nav>ul>li{
    float: left;
    width: 200px;
    line-height: 60px;
}

nav li {
    position: relative;
}

nav li li {
    max-height: 0;
    overflow: hidden;
}

nav li:hover > ul >li {
    visibility: visible;
    max-height: 200px;
    overflow: visible;
}

nav ul ul ul {
    left: 100%;
    top: 0;
}

.menu:hover {
    background-color: rgb(95, 95, 95);
    cursor: pointer;
    color: rgb(177, 171, 171);
}
