body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

/* div {
    margin-bottom: 15px;
} */

label {
    display: block;
    margin-bottom: 5px;
}

input {
    padding: 8px;
    width: 200px;
    box-sizing: border-box;
}

button {
    background-color: #e74c3c;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 15px;
}

button:hover {
    background-color: #45a049;
}

#chartContainer {
    width: 50%;
    /* height: 350p00x; */
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
}

.bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    max-width: 400px;
    transition: background-color 0.3s;
    /* margin: 0 auto; */
    overflow: hidden;
    border-radius: 5px;
}

.innerBar {
    height: 30px;
    margin-right: 5px;
    transition: background-color 0.5s;
    animation: colorChange 5s infinite;
}

.label {
    flex-grow: 1;
}

.percentage {
    font-weight: bold;
}

.chart {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Animación de cambio de color */
@keyframes colorChange {
    0% { background-color: #4caf50; }
    25% { background-color: #45a049; }
    50% { background-color: #3498db; }
    75% { background-color: #9b59b6; }
    100% { background-color: #e74c3c; }
}
