.contenedor{
    height: 100px;
    width: 500px;
    border: 1px black solid;
    margin: 15px;
}
.box-2{
    height: 150px;
    width: 100px;
    background-color: aqua;
    position: relative;
    top: 100px;
    left: 30px;
}
.box-3{
    height: 150px;
    width: 100px;
    background-color: black;
    position: relative;
    top: 100px;
    left: 30px;
}
.box-4{
    height: 150px;
    width: 100px;
    background-color: red;
    position: relative;
    top: 100px;
    left: 30px;
}
.box-5{
    height: 150px;
    width: 100px;
    background-color: yellow;
    position: relative;
    top: 100px;
    left: 30px;
    left: 100%;
}
.box-6{
    height: 150px;
    width: 100px;
    background-color: lawngreen;
    position: relative;
    top: 100px;
    left: 30px;
    left: 100%;
}
